.navbar{
    padding: 16px;
    color: white;
    border-bottom:1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

.Search-bar{
margin-left: auto;
}
.navbar .siteName , h1{
    text-decoration: none;
    color: #fff;
    margin-right: auto;

}


