.searchBar{
  display: inline-block;
  align-items: center;
}
.searchBar form {
    display: flex;
}
.searchBar input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;    
}
.search-icon{
  background:none;
  color: wheat;
  border: none;
}
.hidden {
  display: none;
}